* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  background-color: #EEEEEE;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%; }

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

a {
  color: #00B7FF;
}

.display, .control {
	margin: 10px;
}

.display {
	float: left;
}

.control {
	float: left;
}

.control textarea {
	margin: 10px;
}

svg {
	border: 1px solid black;
}

.grass {
	fill: #3CAB26;
	stroke-width: 1px;
	stroke: #2D801C;
}

.rock {
	fill: #858585;
	stroke-width: 1px;
	stroke: #C7C7C7;
}

.lava {
	fill: #B3210B;
	stroke-width: 1px;
	stroke: #FF6600;
}

.position {
	fill: #C9EBF0;
	stroke-width: 3px;
	stroke: #2973F2;
}

.positionNumber {
	fill: #0E1A9E;
	text-anchor: middle;
}

.path {
	stroke-width: 3px;
	stroke: #2973F2;
}